body {
  background-color: #6c757d;
}

.container {
  width: 600px;
  height: 600px;
  background-color: #8d99ae;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  margin-top: 50px;
  padding: 20px;
}
h1 {
  font-family: "Poetsen One", sans-serif;
  color: #d90429;
  text-align: center;
  font-size: 40px;
}
h2 {
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-size: 30px;
  color: #edf2f4;
}
.red {
  color: #d90429;
}
input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 20px;
  border: none;
  color: #d90429;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  border-radius: 20px;
}
input[type="text"]:focus {
  outline: none;
}
.buttons {
  display: block;
  text-align: center;
}
button {
  padding: 15px 20px;
  margin: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #d90429;
  color: #edf2f4;
  font-family: cursive;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color: #edf2f4;
  color: #d90429;
}
#reset-button {
  padding: 15px 45px;
}
